
/* #cPage{} */

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    border-radius: 0px !important;
}

#cheader{
    background-color: rgba(255, 255, 255, 0.504);
    /* background-image: url("https://www.transparenttextures.com/patterns/arches.png"); */
    color: gold;
    text-align: center;
    padding: 2%5%;
}

#brand{
    font-size: 3em;
    color: #000;
    margin-bottom: 0;
    font-family: 'Josefin Sans';

}

#sub-t{
    margin-top: 1%;
    font-size: medium;
    color: orange;
    font-family: 'Josefin Sans';
}


#input-field{
    padding: 3%;
    display: flex;
    justify-content: center;
}

#mobile{
    display: none;
}

.MuiListItemText-primary, .MuiMenuItem-root{
    font-family: 'Tilt Neon' !important;
}

@media (max-width:824px) {
    #input-field{
        display: none;
    }
}

@media (max-width:824px) {
    #mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5%;
    }

    #input-field-2{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

#size-select{
    border: #ffffff;
}

#color .MuiOutlinedInput-root{
    width: fit-content !important;
}


.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected{
    background: rgba(255, 221, 157, 0.304) !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected::after{
    content: url('https://img.icons8.com/external-inkubators-basic-outline-inkubators/15/null/external-close-user-interface-inkubators-basic-outline-inkubators.png');
    display: block;
    position: absolute;
    right: 0;
    margin: 0 10px 0 0;
}

.size{
    background: #ffffff !important;
}

.MuiCardHeader-title{
    font-family: 'Josefin Sans' !important;
}


#filters{
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

#type-btn{
    text-transform: capitalize;
    font-family: 'Schibsted Grotesk', sans-serif;
}

#f-icon{
    color: black;
}

#f-icon:hover{
    color: #7d875f;
}

.uk-checkbox:checked{

    background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D…205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A') #7d875f;

    background-color: #7d875f;
    color: white;
    /* border-color: #7d875f !important; */
}

.uk-checkbox:checked:active, .uk-checkbox:checked:focus{
    background: #7d875f !important;
    color: white;
    border-color: #7d875f;
}

.uk-checkbox:focus{
    border-color: grey !important;
}

#applybtn{
    display: block;
    margin-left: auto;
    background: #7d875f;
    text-transform: capitalize;
    font-family: 'Schibsted Grotesk', sans-serif;
}