
#cart-sec{
    padding: 5% 7%;
    margin-bottom: 5%;
}

#cart-pro-name, #cart-pro-price{
    margin: 0;
    font-family: 'Schibsted Grotesk', sans-serif;
    margin-bottom: 5%;
}

#cart-pro-price{
    font-family: 'Schibsted Grotesk', sans-serif;
    color:  #7d875f;
}