
#about-section{
    padding: 5% 6%;
}

h4#about{
    color: #8e996b;
    border-bottom: #8e996b 0.8px solid;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.7em;
}

.abt-btn{
    color: #7d875f !important;
    text-decoration: underline !important;
    text-transform: capitalize !important;
    background: none !important;
}