
#e-cont{
    padding: 7%;
}

#e-cont h3{
    font-family: 'Josefin Sans';
    text-transform: capitalize;
    font-weight: 600;
}

#e-cont h4{
    margin-top: 2%;
    margin-bottom: 0;
    font-family: 'Josefin Sans';
    text-decoration: underline;
    color:  #7d875f;
}

p.sub{
    margin-top: 0;
    padding: 1% 3% 1% !important;
    margin-bottom: 0 !important;
}

p#f-note-p{
    text-align: justify;
}

#e-cont p{
    padding: 2% 7%;
    line-height: 2;
    text-align: justify;
    font-family: 'Schibsted Grotesk', sans-serif;
    margin-bottom: 5%;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    border-radius: 0px !important;
}

.css-1t4vnk2-MuiDialogContent-root {
    padding: 0 !important;
}