

#nav-btn {
    color: rgb(70, 70, 70);
    /* font-weight: 600; */
    /* border-radius: 0 !important; */
    transition: all 0.7s;
    font-size: small;
    font-family: 'Schibsted Grotesk', sans-serif;
    text-transform: capitalize;
}

.act-btn{
    background: none !important;
    color: black !important;
    transition: all 0.5s;
}

.act-btn:hover{
    opacity: 0.5;
}


#nav-btn:hover {
    opacity: 0.8s;
    background: none;
    text-decoration: underline !important;
}

#landing-bg{
      /* The image used */
  background-image: url("https://r4.wallpaperflare.com/wallpaper/328/105/280/girl-landscape-sunset-stone-wallpaper-731a239aa8a53c5de8229e8301a8d281.jpg") !important;
  /* Full height */

  /* Center and scale the image nicely */
  background-position:top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#appbar{
    background: #fffffff6;
}

#landing-banner{
    width: 100%;
    height: 50%;
    padding-right: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

h4#opening{
    font-family: 'Tilt Neon', cursive;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: larger;
    color: white;
}

@media (max-width:500px) {
    #landing-banner{
        padding-left: 5%;
        padding-right: 5%;
        align-items: center;
    }

    h4#opening{
        text-align: center;
    }
}

button#collection{
    background: #ffae3d;
    font-size: small;
    font-family: 'Josefin Sans';
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    padding: 0.5% 1%;
    border-radius: 1px;
}