


#lander{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0% 5%;
    padding-top: 3%;
    text-align: center;

    height: 80vh;
    background-image: url('../../../Stacks/land.png') !important;
    /* Center and scale the image nicely */
    background-position:center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-clip: content-box;
    transition: 0.3s all;

}

#lander:hover{
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

#land-btn{
    border-radius: 0px !important;
    background: white;
    color:  #7d875f;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}
