

#secondary{
    background: url('https://images.unsplash.com/photo-1533670803344-afe2e89e5493?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8');
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    height: 100%;
}

#sec-data{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20%;
    height: 90vh;
}

#sec-data h1{
    font-family: Kanit, sans-serif;
    color: #F5AF65;
    font-size: 2.8em;
    margin-bottom: 0;
}

#sec-text{
    font-size: 1.3em;
    font-family: "Tilt Neon", cursive;
}

button#sec-btn{
    font-family: 'Squada One', cursive;
    letter-spacing: 3px;
    border: 1px solid black;
    color: white;
    transition: all 0.7s;
    color: black;
    padding: 0.5% 2%;
}


button#sec-btn:hover{
    background: black;
    color: #F7BC6A;
}