
#secondary h2:not(#td-name){
    margin-left: 5%;
    border-bottom: #000000 0.8px solid;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.7em;
}

#secondary #td-name{
    /* border-bottom: #000000 0.8px solid; */
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.7em;
    margin-bottom: 0;
}

#secondary #td-price{
    margin-top: 0;
    font-family: 'Josefin Sans', sans-serif;
}

#sn{
    /* margin-left:auto; */
    padding-right: 5%;
    color: #7d875f;
    font-family: 'Josefin Sans';
}

#arrow{
    transition: all 0.7s;
}

#sn:hover #arrow{
    padding-left: 3px;
}

#sec-img-cont{
    overflow: hidden;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#sec-img-cont img{
    vertical-align: top;
    width: 100%;
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#sec-img-cont-2 {
    height: 100%;
}
#sec-img-cont-2 img{
    vertical-align: top;
    width: 60%;
    height: auto;
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#gal-2, #gal-3{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
}