

#customers-section{
    padding: 5% 7% 5%;
    /* background: url('./bg.png');
    background-repeat: no-repeat;
    background-position:bottom;
    background-position-x: left;
    background-position-y: bottom; */
}

h4#cust{
    color: #8e996b;
    border-bottom: #8e996b 0.8px solid;
    display: inline-block;
    letter-spacing: 2px;
    text-align: center !important;
    font-family: 'Josefin Sans';
    font-size: 1.7em;
}

h2#cust hr{
    margin: auto !important;
    border-top: #8e996b 0.8px solid;
    width: 20%;
}

.swipeCard{
    padding: 5%;
    background: transparent;
}

p.rating{
    font-size: small;
    color: #7d875f;
}

p.comment{
    font-size: medium;
    font-family: 'Schibsted Grotesk', sans-serif;
}

p.customer{
    font-family: 'Josefin Sans';
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}