body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html{
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


img:not(.pro-img){
  pointer-events: none !important;
}

html{
  scroll-behavior: smooth !important;
}

a{
  text-decoration: none !important;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 999px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7D875F;
  border-radius: 999px;
}
