


#collections-section{
    padding: 1% 5% 5%;
}

p#welcome{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

h4#collections{
    color: #8e996b;
    border-bottom: #8e996b 0.8px solid;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.7em;
}

#shopall{
    display: block;
    border-radius: 0;
    margin: auto !important;
    margin-top: 2% !important;
    background: #7d875f;
    text-transform: capitalize;
    font-family: 'Schibsted Grotesk', sans-serif;
    box-shadow: none !important;
    transition: all 0.7s;
}